.card-person {
	display: inline-flex;
	justify-content: space-between;
	width: ~"calc(50% - 15px)";

	&:not(:nth-child(-n+2)) {
		margin-top: 75px;
	}

	&__img {
		width: 50%;
		height: 350px;
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
	}

	&__inner {
		width: 50%;
		padding-left: 25px;
	}

	&__name {
		margin-bottom: 15px;
		font: 700 1.6rem/1 @font-second;

		& span {
			display: block;
			margin-bottom: 5px;
			font-size: 1.8rem;
		}
	}

	&__post {
		display: inline-block;
		margin-bottom: 20px;
		padding: 5px 10px;
		border: 1px solid @orange;
		text-transform: uppercase;
		font-weight: 400;
		color: @orange;
	}

	&__list {

		&-item {
			line-height: 1.6rem;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	@media @width-md {
		width: 100%;

		&:not(:nth-child(-n+1)) {
			margin-top: 75px;
		}
	}

	@media @width-xs {
		flex-wrap: wrap;

		&__img,
		&__inner {
			width: 100%;
		}

		&__img {
			height: 200px;
			margin-bottom: 35px;
		}

		&__inner {
			padding-left: 0;
		}
	}

}