mixin page-footer()
	+b.FOOTER.page-footer
		+e.container
			+e.logo
				+e.A.logo-img(href="/")
			+e.btn-wrapper
				+e.BUTTON.btn.btn.btn--open-contact  ЗВ'ЯЗАТИСЯ З НАМИ
			+e.social
				+e.A.social-icon(href="#")
					svg
						use(xlink:href='../img/sprite.svg#facebook-logo')
				+e.A.social-icon(href="#")
					svg
						use(xlink:href='../img/sprite.svg#twitter-logo')
				+e.A.social-icon(href="#")
					svg
						use(xlink:href='../img/sprite.svg#google-plus')
				+e.A.social-icon(href="#")
					svg
						use(xlink:href='../img/sprite.svg#linkedin-logo')
				+e.A.social-icon(href="#")
					svg
						use(xlink:href='../img/sprite.svg#instagram-logo')
		+e.copyright
			+e.copyright-container
				p &copy; Copyright 2018.  All Rights Reserved.