mixin page-footer()
	+b.FOOTER.page-footer
		+e.container
			+e.logo
				+e.A.logo-img(href="/")
			+e.btn ЗВ'ЯЗАТИСЯ З НАМИ
			+e.social
				+e.A.social-icon(href="#") i
				+e.A.social-icon(href="#") i
				+e.A.social-icon(href="#") i
				+e.A.social-icon(href="#") i
		+e.copyright
			+e.copyright-container
				p &copy; Copyright 2017 .  All Rights Reserved.