include ../../blocks/project/btn/btn.pug
include ../../blocks/project/page-header/page-header.pug
include ../../blocks/project/page-footer/page-footer.pug
include ../../blocks/project/page-promo/page-promo.pug
include ../../blocks/project/headline/headline.pug
include ../../blocks/project/about-company/about-company.pug
include ../../blocks/project/card-about/card-about.pug
include ../../blocks/project/partners/partners.pug
include ../../blocks/project/contacts/contacts.pug
include ../../blocks/project/card-file/card-file.pug
include ../../blocks/project/card-person/card-person.pug
include ../../blocks/project/card-news/card-news.pug
include ../../blocks/project/editorial-board-page/editorial-board-page.pug
include ../../blocks/project/index-page/index-page.pug
include ../../blocks/project/contacts-page/contacts-page.pug