mixin modal(id, mod, title)
	+b.modal(class= mod)
		+e.FORM.inner(id= id)
			+e.head
				+e.head-title= title
				+e.head-close 
					svg
						use(xlink:href='../img/sprite.svg#cross')
			+e.body
				block
 				
