extends ../layout/layoutBase.pug

block content
	+b.contacts-page
		+page-header()
			li.page-header__list-item
				a(href="index.html") Про журнал
			li.page-header__list-item
				a(href="editorial-board.html") Редакцiйна колегiя
			li.page-header__list-item
				a(href="authors.html") Авторам
			li.page-header__list-item
				a(href="news.html") Новини
			li.page-header__list-item
				a(href="archive.html") Архiв
			li.page-header__list-item.page-header__list-item--active
				a(href="contacts.html") Контакти

		+page-promo('../img/page-promo--contacts.png', 'Контакти', 'Журнал інформує про події наукового життя та юридичної освіти в Україні, проводить власні наукові дослідження, конференції та інші наукові заходи, надає інші послуги', 'Підписатися на розсилку')
		
		+contacts()
				
		+page-footer()