extends ../layout/layoutBase.pug

block content
	+b.editorial-board-page
		+page-header()
			li.page-header__list-item
				a(href="index.html") Про журнал
			li.page-header__list-item.page-header__list-item--active
				a(href="editorial-board.html") Редакцiйна колегiя
			li.page-header__list-item
				a(href="authors.html") Авторам
			li.page-header__list-item
				a(href="news.html") Новини
			li.page-header__list-item
				a(href="archive.html") Архiв
			li.page-header__list-item
				a(href="contacts.html") Контакти

		+page-promo('../img/page-promo--editorial-board.png', 'Редакційна колегія', 'Журнал засновано за ініціативи науковців НЮУ ім. Ярослава Мудрого та правозахисників - адвокатів провідних юридичних фірм та компаній України, а також Правління ГО "ВСБ "Еліта Нації"".', 'Підписатися на розсилку')
		
		+e.container
			+e.list-cards
				+card-person('../img/card-person__img1.png', '<span>В’юник</span> Марина Сергіївна', 'Головний редактор')
					ul.card-person__list
						li.card-person__list-item • менеджер з питань розвитку засобів масової інформації та сучасної комунікації;
						li.card-person__list-item • магістр права;
						li.card-person__list-item • наукові інтереси: кримінальний процес та криміналістика; судова експертиза;   оперативно-розшукова діяльність;
						li.card-person__list-item • громадський діяч, співзасновник та член правління декількох правозахисних організацій.
				+card-person('../img/card-person__img2.png', '<span>Булгаков</span> Артур Олександрович', 'Член редакційної колегії')
					ul.card-person__list
						li.card-person__list-item • магістр права;
						li.card-person__list-item • громадський діяч - Відповідальний секретар ГО "Асоціація випускників НЮУ ім. Ярослава Мудрого";
						li.card-person__list-item • наукові інтереси: теорія та історія держави і права, історія політичних і правових учень (12.00.01).
				+card-person('../img/card-person__img1.png', '<span>В’юник</span> Марина Сергіївна', 'Головний редактор')
					ul.card-person__list
						li.card-person__list-item • менеджер з питань розвитку засобів масової інформації та сучасної комунікації;
						li.card-person__list-item • магістр права;
						li.card-person__list-item • наукові інтереси: кримінальний процес та криміналістика; судова експертиза;   оперативно-розшукова діяльність;
						li.card-person__list-item • громадський діяч, співзасновник та член правління декількох правозахисних організацій.
				+card-person('../img/card-person__img2.png', '<span>Булгаков</span> Артур Олександрович', 'Член редакційної колегії')
					ul.card-person__list
						li.card-person__list-item • магістр права;
						li.card-person__list-item • громадський діяч - Відповідальний секретар ГО "Асоціація випускників НЮУ ім. Ярослава Мудрого";
						li.card-person__list-item • наукові інтереси: теорія та історія держави і права, історія політичних і правових учень (12.00.01).

		+page-footer()