extends ../layout/layoutBase.pug

block content
	+b.index-page
		+page-header()
		+page-promo('../img/page-promo--home.png', 'ЮРИДИЧНИЙ НАУКОВИЙ ЖУРНАЛ', 'Журнал інформує про події наукового життя та юридичної освіти в Україні, проводить власні наукові дослідження, конференції та інші наукові заходи, надає інші послуги', 'Підписатися на розсилку')

		br
		br
		br
		br

		+headline('Про “Свiт науки та освiти”', 'В юридичному науковому журналі  «Свiт науки та освiти»  висвітлюються актуальні питання теорії та історії держави і права, державного управління, адміністративного,  конституційного, міжнародного, цивільного і підприємницького, аграрного та екологічного права, кримінології, кримінального, кримінально-процесуального права та інших галузей права')

		+page-footer()