extends ../layout/layoutBase.pug

block content
	+b.index-page
		+page-header()

		+page-promo('../img/page-promo--home.png', 'ЮРИДИЧНИЙ НАУКОВИЙ ЖУРНАЛ', 'Журнал інформує про події наукового життя та юридичної освіти в Україні, проводить власні наукові дослідження, конференції та інші наукові заходи, надає інші послуги', 'Підписатися на розсилку')

		+b.SECTION.about-company
			+e.container
				+headline('Про “Свiт науки та освiти”', 'В юридичному науковому журналі  «Свiт науки та освiти»  висвітлюються актуальні питання теорії та історії держави і права, державного управління, адміністративного,  конституційного, міжнародного, цивільного і підприємницького, аграрного та екологічного права, кримінології, кримінального, кримінально-процесуального права та інших галузей права')
				+e.cards-list
					+card-about('Iнформацiя', 'Офіційно зареєстровано з присвоєнням міжнародного стандартного номеру періодичного видання ISSN 2410-244X (International Standard Serial Number). Має електронну та друковану* версії.<span>Профіль: проблеми юридичної науки та практики.</span>')
					+card-about('Колектив', 'Колектив наукового юридичного журналу складають молоді амбіційні науковці та практики, які мають високу кваліфікацію та володіють глибокими знання в різних галузях юридичної науки')
					+card-about('Цільова аудиторія ', 'Науковці-правники, викладачі, аспіранти, здобувачі, студенти- юристи, практики (судді, прокурори, адвокати, працівники органів МВС України, юрисконсульти, державні службовці) і всі, кого цікавить правова тематика.')

		+b.SECTION.partners
			+e.container
				+headline('Партнери', 'Сподіваємося, що на нашому сайті Ви знайдете відповіді на свої  питання, а в нас - надійного помічника.')
				+e.UL.list
					+e.LI.list-item
						img(src='../img/partners__logo1.png')
					+e.LI.list-item
						img(src='../img/partners__logo2.png')
					+e.LI.list-item
						img(src='../img/partners__logo3.png')
					+e.LI.list-item
						img(src='../img/partners__logo4.png')
					+e.LI.list-item
						img(src='../img/partners__logo5.png')
					+e.LI.list-item
						img(src='../img/partners__logo6.png')

		+contacts()

		+e.container
			+card-file('../img/card-file1.png', 'Ciчень  2018 року')

			br
			br
			br
			br
			
			+card-person('../img/card-person__img1.png', '<span>В’юник</span> Марина Сергіївна', 'Головний редактор')
				ul.card-person__list
					li.card-person__list-item • менеджер з питань розвитку засобів масової інформації та сучасної комунікації;
					li.card-person__list-item • магістр права;
					li.card-person__list-item • наукові інтереси: кримінальний процес та криміналістика; судова експертиза;   оперативно-розшукова діяльність;
					li.card-person__list-item • громадський діяч, співзасновник та член правління декількох правозахисних організацій.


			br
			br
			br
			br





		+page-footer()