extends ../layout/layoutBase.pug

block content
	+b.index-page
		+page-header()
			li.page-header__list-item.page-header__list-item--active
				a(href="index.html") Про журнал
			li.page-header__list-item
				a(href="editorial-board.html") Редакцiйна колегiя
			li.page-header__list-item
				a(href="authors.html") Авторам
			li.page-header__list-item
				a(href="news.html") Новини
			li.page-header__list-item
				a(href="archive.html") Архiв
			li.page-header__list-item
				a(href="contacts.html") Контакти

		+page-promo('../img/page-promo--home.png', 'Науково-практичний журнал', 'Науково-практичний журнал «Світ науки та освіти» (The World of Science and Education) – є багатопрофільним, рецензованим науковим виданням, офіційно зареєстрованим, як засіб масової інформації та створеним на базі Національного юридичного університету імені Ярослава Мудрого.', 'Підписатися на розсилку')

		+b.SECTION.about-company
			+e.container
				+headline('Про «Свiт науки та освiти»', 'В науково-практичному журналі «Світ науки та освіти» (The World of Science and Education) публікуються статті проблемного характеру, які висвітлюють актуальні проблеми і питання науки та практики, пропозиції щодо вдосконалення національного законодавства, досягнення науки зарубіжних країн і тенденції розвитку науки та освіти в цілому.')
				+e.cards-list
					+card-about('Iнформацiя', 'Журналу «Світ науки та освіти» (The World of Science and Education) присвоєний міжнародний стандартний номер періодичного видання <b>ISSN: 2310-6522 (International Standard Serial Number)</b> та поширюється по провідних світових бібліотекам і університетам. <span>Науково-практичний журнал «Світ науки та освіти» (The World of Science and Education) створений для широкоаспектного розкриття актуальних проблем гуманітарних наук України та зарубіжжя.</span>', 'info')
					+card-about('Подробицi', 'Мова журналу: українська,  англійська, російська <span>Має електронну та друковану версії.</span> <span>Графік виходу журналу: 2 рази в рік: <br> •  перший випуск – до 1 травня (дата     розміщення на сайті – травень поточного року); <br> •  другий випуск – до 1 листопада (дата розміщення на сайті – листопад поточного року).<span/>', 'book')
					+card-about('Цільова аудиторія ', 'Науково-практичний журнал «Світ науки та освіти» (The World of Science and Education) випускається двома частинами: <br> 1. &#8195; <b>«Світ науки та освіти» (The World of Science and Education)</b> - розрахований на наукових та освітніх працівників, викладачів, вчителів та аспірантів та практикуючих фахівців. <br> 2. &#8195; <b>«Світ науки та освіти» (The World of Science and Education) JUNIOR</b> – розрахований на студентів та учнів 9-11 класів навчальних закладів I-III рівня акредитації.', 'employee')
				+e.offer Запрошуємо до співпраці!

		+b.SECTION.partners
			+e.container
				+headline('Партнери', '')
				+e.UL.list
					+e.LI.list-item
						img(src='../img/partners__logo1.png')
					+e.LI.list-item
						img(src='../img/partners__logo2.png')
					+e.LI.list-item
						img(src='../img/partners__logo3.png')
					+e.LI.list-item
						img(src='../img/partners__logo4.png')
				+e.UL.info
					+e.LI.info-item Ми маємо багаторічний досвід організації, проведення та інформаційної підтримки міжнародних та всеукраїнських, наукових та науково-практичних заходів:
					+e.LI.info-item очних та заочних конференцій;
					+e.LI.info-item тематичних всеукраїнських та міжнародних форумів;
					+e.LI.info-item семінарів;
					+e.LI.info-item круглих столів;
					+e.LI.info-item важливих наукових та освітніх подій та заходів.
					+e.LI.info-item Тож, пропонуємо Вам:
					+e.LI.info-item допомогу в організації та проведенні міжнародних та всеукраїнських, наукових та науково-практичних заходів;
					+e.LI.info-item обмін посиланнями та банерами однакового розміру порталам подібної тематики, сайтам наукових журналів, електронних бібліотек, каталогам статей, освітнім сайтам.
				+e.BUTTON.btn.btn.btn--open-contact Зв`язатися з нами


		+contacts()

		+map()

		+page-footer()