extends ../layout/layoutBase.pug

block content
	+page-header()
	+page-promo('../img/page-promo--home.png', 'ЮРИДИЧНИЙ НАУКОВИЙ ЖУРНАЛ', 'Журнал інформує про події наукового життя та юридичної освіти в Україні, проводить власні наукові дослідження, конференції та інші наукові заходи, надає інші послуги', 'Підписатися на розсилку')

	+page-footer()