extends ../layout/layoutBase.pug

block content
	+b.news-open-page
		+page-header()
			li.page-header__list-item
				a(href="index.html") Про журнал
			li.page-header__list-item
				a(href="editorial-board.html") Редакцiйна колегiя
			li.page-header__list-item
				a(href="authors.html") Авторам
			li.page-header__list-item.page-header__list-item--active
				a(href="news.html") Новини
			li.page-header__list-item
				a(href="archive.html") Архiв
			li.page-header__list-item
				a(href="contacts.html") Контакти

		+page-promo('../img/page-promo--news-open.png', 'Facebook - дiйсно?', 'Поширену на сторінці у мережі «Facebook» інформацію слід розцінювати лише як критику дій, спірний вислів, що є оціночним судженням, а не фактичним твердженням', 'Підписатися на розсилку')
		
		+e.container
			+e.article
				+e.article-title Справа про iнформацiю у “Facebook”
				p <span>Суд:</span> Поширену на сторінці у мережі «Facebook» інформацію слід розцінювати лише як критику дій, спірний вислів, що є оціночним судженням, а не фактичним твердженням (Апеляційний суд м. Києва, Справа № 755/11966/16-ц, 22.02.17)
				p <span>Фабула судового акта:</span>  Предметом розгяду  цієї справи стала позовна заява Товариства з обмеженою відповідальністю «Інформаційне агентство «17 канал» до громадянина про захист ділової репутації. Свої вимоги мотивував тим, що 20 липня 2016 року на сторінці відповідача у загальнодоступній соціальній мережі «Facebook» поширив інформацію, в який, зокрема, містились така фраза «… першим на місці подій опинився так званий 17 канал - російсько-пропагандонський засіб дезінформації, фінансований «Сім'єю».
				p За твердженням позивача, оскільки зазначений пост був розміщений на сторінці  відповідача - BogdanButkevych  на веб-сайті «Facebook» у вільному доступі, то він був доведений до відома невизначеного кола осіб чим принижує його ділову репутацію.
				p Рішенням Дніпровського районного суду м. Києва в задоволенні позову відмовлено. Апеляційним судом м. Києва це судове рішення залишено без змін. Відомості про касаційний розгляд справи відсутні.
				p Відмовляючи в задоволенні позову, суди виходили з наступного. Відповідно до ст. 277 ЦК не є предметом судового захисту оціночні судження, думки, переконання, критична оцінка певних фактів і недоліків, які, будучи вираженням суб'єктивної думки і поглядів відповідача, не можна перевірити на предмет їх відповідності дійсності (на відміну від перевірки істинності фактів) і спростувати.
				p Відповідно до ч. 2 ст. 30 Закону України «Про інформацію» оціночними судженнями, за винятком наклепу, є висловлювання, які не містять фактичних даних, критика, оцінка дій, а також висловлювання, що не можуть бути витлумачені як такі, що містять фактичні дані, зокрема з огляду на характер використання мовностилістичних засобів (вживання гіпербол, алегорій, сатири). Оціночні судження не підлягають спростуванню та доведенню їх правдивості.
				p З огляду на це, поширену на сторінці відповідача у загальнодоступній соціальній мережі «Facebook» інформації щодо позивача слід розцінювати лише як критику його дій, тобто, спірний вислів є оціночним судженням а не фактичним твердженням, які підлягають доведенню під час судового розгляду.
				p У зв’язку з цією справою доречно звернути увагу на прецедентну судову практику Європейського суду з прав людини при тлумаченні положень статті 10 Конвенції. Так, рішенням від 21 лютого 2012 року у справі «Тушалп проти Туреччини» Європейський суд встановив, що навіть припускаючи, що висловлювання заявника могли були визнані провокативними, грубими та агресивними, вони становили оціночні судження. При цьому, Європейський суд підкреслив, що використання, навіть, «вульгарних фраз» само по собі не є визначальним в оцінці агресивного висловлювання, адже це може слугувати просто «стилістичним цілям», оскільки «стиль є частиною комунікації як форми вираження та як такий захищений разом зі змістом вираження».
				p Аналізуйте судовий акт: Суд ухвалив вирок за пост в соцмережі - не ро бимо в інтернеті того, що не можна робити в житті
				p Розміщення особою постів в соціальній мережі кваліфіковано судом як злочин проти основ національної безпеки України (Вирок - Зарічний районний суд м. Суми у справі 591/442/16-к від 2 лютого 2016р.)
				p Клевета в Фэйсбуке перестаёт быть безнаказанной: депутат Мураев выиграл суд у конкретных лиц о защите чести, достоинства и деловой репутации (Днепровский районный суд г. Киева от 9 августа 2016г, дело № 755/7842/16-ц, судья Бартащук Л. П.)
				p Обізвати особу «шлюхою» та «проституткою» - це образа, тому у позові про захист честі та гідності, а головне у стягненні моральної шкоди слід відмовити (Яготинський районний суд Київської області)
				p В Росії контролюють переписку в соціальних мережах. Чи потрібен такий контроль в Україні?    
				p 22 лютого 2017 року колегія суддів судової палати з розгляду цивільних справ Апеляційного суду м. Києва в складі:
				table
					tr
						td Головуючого судді
						td Андрієнко А.М.
					tr
						td Суддів:
						td Заришняк Г.М.
					tr
						td
						td МараєвоїН.Є.
					tr
						td При секретарі
						td Гарматюк О.Д.
				p Розглянувши у відкритому судовому засіданні в м. Києві цивільну справу за апеляційною скаргою директора Товариства з обмеженою відповідальність «Інформаційне агентство «17 канал» ОСОБА_2 на рішення Дніпровського районного суду м. Києва від 02 грудня 2016 року у справі за позовом Товариства з обмеженою відповідальність «Інформаційне агентство «17 канал» до ОСОБА_3 про захист ділової репутації,
				span Встановила:
				p У серпні 2016 року позивач ТОВ «Інформаційне агентство «17 канал» звернувся до суду з позовом до відповідача ОСОБА_3 про захист ділової репутації, мотивуючи свої вимоги тим, що ІНФОРМАЦІЯ_1 на сторінці відповідача у загальнодоступній соціальній мережі «Facebook» була поширена інформація наступного змісту: «А знаєте, що цікаво?! Як і у випадку з ОСОБА_4, першим на місці подій опинився так званий 17 канал - російсько-пропагандонський засіб дезінформації, фінансований «Сім'єю». Вся інформація, яка міститься у вислові, є недостовірною і порушує ділову репутацію позивача, оскільки створює негативне враження про діяльність позивача. Знімальна група «Розвідка» прибула першою на місце  загибелі ОСОБА_4, так як неподалік виконувала редакційне завдання на запис коментаря мера Києва для сюжету про декомунізацію пам'ятників у м. Києві, що підтверджується розміщеним на сайті каналу сюжетом. Словосполучення «так званий 17 канал» створює хибне враження про канал, вказуючи на непрофесійність та неналежну кваліфікацію журналістів каналу. Звинувачення типу «російсько-пропагандонський засіб дезінформації, фінансований «Сім'єю» не відповідає дійсності і посягає на ділову репутацію, оскільки звинувачується  в проросійських поглядах, що пов'язує із державою агресором та має негативні наслідки,  так як зв'язок із «Сім'єю», під якою в суспільстві розуміють представників колишньої влади України, негативно сприймається жителями України. Оскільки зазначений пост був розміщений на сторінці позивача у вільному доступі, то був доведений до відома невизначеного кола осіб. Позивач просив визнати зазначену інформацію недостовірною та такою, що принижує ділову репутацію Товариства з обмеженою відповідальністю "Інформаційне агентство "17 канал" та спростувати її шляхом видалення вказаної інформації з мережі Інтернету та опублікування рішення суду на сторінці ОСОБА_3 протягом місяця після набрання чинності рішення суду.
				p Рішенням Дніпровського районного суду м. Києва від 02 грудня 2016 року в задоволенні позову відмовлено.
				p Не погоджуючись з рішенням суду, представник позивача подав на нього апеляційну скаргу, в якій просить скасувати рішення суду та ухвалити нове, яким позовні вимоги задовольнити, мотивуючи тим, що суд допустив помилку під час оцінювання наданих доказів, невірно застосував норми матеріального права, помилково  прийшов до  висновку, що спірна інформація є оціночним судженням.
				p Сторони в судове засідання не з'явилися, про час та місце розгляду справи були належним чином повідомлені.
				p Представник позивача звернувся до суду із клопотанням про перенесення розгляду справи на іншу дату, однак, доказів поважності причин неявки суду не надав.
				p За таких обставин, колегія суддів на підставі ст.. 305 ЦПК України прийшла до висновку про можливість розгляду справи за відсутності сторін, оскільки їх явка до суду апеляційної інстанції не є обов'язковою.
				p Розглянувши справу в межах доводів апеляційної скарги, перевіривши законність і обґрунтованість постановленого рішення, колегія суддів прийшла до висновку, що апеляційна скарга не  підлягає задоволенню з наступних підстав.
				p Судом встановлено, що 20.07.2016 року на сторінці ОСОБА_3в соціальній мережі «Facebook» було розміщено інформацію наступного змісту: «А знаєте, що цікаво? Як і у випадку з ОСОБА_4, першим на місці подій опинився так званий 17 канал - російсько-пропагандонський засіб масової дезінформації, фінансований «Сім'єю». Щоб зазняти, як помираючого ОСОБА_5 дістають з машини. Той самий, який влаштував «мости» з захарченком та мозговим, чий так званий співробітник василець вже заарештований СБУ за співпрацю з терористами на Донбасі, який системно працює на всіх провокаціях а-ля третій майдан, які влаштовує русня. Ці співпадіння вже навіть не дивують.» (а.с.6).
				p Факт поширення вищезазначеної інформації в указаний спосіб підтверджується наданими позивачем письмовими доказами  , а саме роздруківкою із інтернету, а також зазначені обставини визнаються самим відповідачем.
				p Обґрунтовуючи заявлені вимоги, позивачі посилаються на те, що поширена відповідачем інформація є недостовірною та не відповідає дійсності, порочить честь і гідність   позивачів та підриває їх авторитет в суспільстві.
				p Відповідно до ст.. 94 ЦК України юридична особа має право на недоторканість її ділової репутації, на таємницю кореспонденції, на інформацію та інші особисті немайнові права , які можуть їй належати.
				p Разом з тим, Конституцією України гарантується право на свободу думки і слова, на вільне вираження своїх поглядів і переконань.
				p Згідно з ст.47-1 Закону України «Про інформацію» ніхто не може бути притягнутий до відповідальності за висловлювання оціночних суджень. Оціночними судженнями, за виключенням образи або наклепу, є висловлювання, які не містять фактичних даних. Оціночні судження не підлягають спростуванню і доказуванню їх правдивості.
				p Статтею 10 Конвенції про захист прав людини і основних свобод, ратифікованої Україною, передбачено право кожного на свободу вираження поглядів. Це право включає свободу дотримуватися своїх поглядів, одержувати і передавати інформацію та ідеї без втручання органів державної влади і незалежно від кордонів.
				p Судом встановлено, що викладена відповідачем інформація стосовно того, що 17-й канал одним із перших був на місці вбивства як ОСОБА_4 так і ОСОБА_5 відповідає дійсності, позивачем не спростовується.
				p Відповідач вказує, що він в інтернет просторі неодноразово знайомився з матеріалами щодо 17 каналу , а також щодо того чиї інтереси він представляє. Зазначені обставини він підтверджує посиланням на конкретні інтернетадреси.  Після аналізу всієї інформації, яку він отримав із різних сайтів, виступу Генерального прокурора ОСОБА_6 на прес-конференції у м.Ужгороді, він  висловив свою особисту думку та власну точку зору щодо позивача.
				p Соціальна мережа Facebook створена для вільного обміну власними думками різних громадян,  вона не є засобом масової інформації.
				p Аналіз зазначеного національного законодавства та ст. 10 Конвенції й практики її застосування свідчить про те, що межі свободи вираження думок залежать від їх змісту та від того, чим займається особа, стосовно якої ці думки висловлені.
				p Право на недоторканність ділової репутації та честь і гідність публічної особи підлягають захисту лише у випадку, коли політичний, державний або громадський діяч доведе, що інформація поширена "з явним злим умислом", тобто з нехтуванням питання про їх правдивість чи неправдивість, а не з метою доведення до громадськості тверджень про наміри і позицію політичних лідерів, інших публічних осіб та сформувати про них свою думку (рішення Європейського суду з прав людини у справі: "Лінгенс проти Австрії").
				p Колегія суддів вважає, що  відповідачем у соціальній мережі Facebookвиражена його власна думка, на яку він має відповідно до Конституції України право, щодо його особистого ставлення до 17 каналу, а не «з явним злим умислом» сформувати думку щодо публічної юридичної особи 17 каналу у громадськості.
				p За таких обставин колегія суддів вважає, щосуд першої інстанції повно і всебічно з'ясував  обставини справи, зібраним доказам дав належну оцінку та прийшов до правильного висновку про  відмову  у   задоволенні позовних вимог. 
				p Постановлене судом рішення відповідає вимогам матеріального та процесуального права і не може бути скасоване з підстав, що наведені в апеляційній скарзі.
				p Керуючись ст..ст. 303,   308, 313-315 ЦПК України, колегія суддів
				span УХВАЛИЛА:
				p Апеляційну скаргу директора Товариства з обмеженою відповідальність «Інформаційне агентство «17 канал» ОСОБА_2   відхилити.
				p Рішення    Дніпровського  районного суду м.Києва від  2 грудня  2016 року  залишити без змін.
				p Ухвала набирає законної сили з моменту її проголошення, але може бути оскаржена в касаційному порядку до  Вищого спеціалізованого суду України з розгляду цивільних та кримінальних справ   протягом 20 днів з дня набрання ним законної сили шляхом подання до цього суду касаційної скарги.
				table
					tr
						td Головуючий: 
						td Судді: 
				+e.A.article-btn.btn(href='/') На головну






		+page-footer()