extends ../layout/layoutBase.pug

block content
	+b.news-page
		+page-header()

		+page-promo('../img/page-promo--news.png', 'Новини', 'У цьому роздiлi  ви можете переглянути останнi новини та цiкавi факти', 'Підписатися на розсилку')
		
		+e.container
			+e.list-cards
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых Суд и общие положения', 'Дата : 15. 02. 2018')
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых', 'Дата : 15. 02. 2018')
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых Суд и общие положения', 'Дата : 15. 02. 2018')
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых', 'Дата : 15. 02. 2018')
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых Суд и общие положения', 'Дата : 15. 02. 2018')
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых', 'Дата : 15. 02. 2018')
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых Суд и общие положения', 'Дата : 15. 02. 2018')
				+card-news('../img/card-news__banner1.png', 'Популярная наука: демотиваторы для ученых', 'Дата : 15. 02. 2018')

		+page-footer()