mixin page-header()
	+b.HEADER.page-header
		+e.container
			+e.A.logo(href="/")
			+e.SPAN.switch.js-page-header__switch &#9776;
			+e.UL.list
				+e.LI.list-item.page-header__list-item--active
					a(href="#") Про журнал
				+e.LI.list-item
					a(href="#") редакцiйна колегiя
				+e.LI.list-item
					a(href="#") авторам
				+e.LI.list-item
					a(href="#") новини
				+e.LI.list-item
					a(href="#") архiв
				+e.LI.list-item
					a(href="#") контакти






