mixin page-header
	+b.HEADER.page-header
		+e.logo
			+e.IMG.logo-img(src="https://staticaltmetric.s3.amazonaws.com/uploads/2015/10/dark-logo-for-site.png" alt="logo" width="120")
		+e.SPAN.switch.js-page-header__switch &#9776;
		+e.UL.list
			+e.LI.list-item
				a(href="#") lorem
			+e.LI.list-item
				a(href="#") lorem
			+e.LI.list-item
				a(href="#") lorem
			+e.LI.list-item
				a(href="#") lorem
				