mixin authors-tabs()
	+b.authors-tabs
		+e.container
			+e.ASIDE.sidebar
				+e.header
					+e.header-caption НАПРЯМКИ, за якими здiйснюється набiр наукових робiт
					+e.header-caption ВИМОГИ щодо змicту та оформлення роботи
					+e.header-caption ОФОРМЛЕННЯ роботи
					+e.header-caption РЕКВІЗИТИ для сплати публiацiйного внеску
					+e.header-caption УМОВИ та порядок прийняття робiт
					+e.header-caption ПРИМІРНИК наукового журналу
				+e.sidebar-download
					+e.SVG.sidebar-download-icon
						use(xlink:href='../img/sprite.svg#game')
					a.btn(href="#" download="name") Завантажити
			+e.info
				+e.content
					+e.content-title Напрямки, за якими здiйснюється набiр наукових робiт:
					p <b>I</b> - теорія та історія держави і права; історія політичних і правових учень; філософія права;
					p <b>II</b> - конституційне право; муніципальне право;
					p <b>III</b> - цивільне право і цивільний процес; сімейне право; господарське право;
					p <b>IV</b> - трудове право; право соціального забезпечення;
					p <b>V</b> - земельне право; аграрне право; екологічне право; природоресурсне право;
					p <b>VI</b> - адміністративне право і процес; фінансове право; інформаційне право;
					p <b>VII</b> - кримінальне право та кримінологія; кримінально-виконавче право;
					p <b>VIII</b> - кримінальний процес та криміналістика; судова експертиза; оперативно-розшукова діяльність;
					p <b>IX</b> - судоустрій; прокуратура та адвокатура;
					p <b>X</b> - міжнародне приватне та публічне право, міжнародне договірне право;
					p <b>XI</b> – соціологія та політологія, соціологічне дослідження, аналітика;
					p <b>XII</b> – логіка та філософія, культурологія;
					p <b>XIII</b> – державне будівництво та місцеве самоврядування, економічна теорія.

					+e.P.content-descr Приймаються також роботи на іншу юридичну тематику, що має потенціал наукового дослідження чи практичного впровадження або тема роботи є гостросоціальною.
				+e.content 
					+e.content-title Вимоги щодо змісту та оформлення роботи:
					p <b>1.</b> Наукові роботи, надіслані до редакції, повинні бути оригінальними, не опублікованими раніше в інших друкованих чи електронних виданнях.
					p <b>2.</b> Робота повинна бути написана українською чи російською мовою.
					p <b>3.</b> Обсяг роботи у межах до 3 сторінок, включаючи список літератури. Вказаний обсяг роботи може бути перевищено за умови додаткової оплати.
					p <b>4.</b> Сторінки у роботі не нумеруються.
					p <b>5.</b> Робота повинна бути виконана у форматі А-4 текстового редактора Microsoft Word for Windows (версія не пізніше 2007 року) у вигляді файла з розширенням *.doc, *.docx; шрифт – Times New Roman, розмір кегля – 14, міжрядковий інтервал 1,5; абз. відступ (абзац) – 10 мм; усі поля – 20 мм.
					p <b>6.</b> В тексті роботи не повинно бути переносу слів та макросів. Малюнки, схеми, таблиці тощо розміщуються на окремій, останній сторінці, а не в тексті роботи.
					p <b>7.</b> Список використаних джерел подається наприкінці роботи і відповідно до стандартів бібліографічного опису. Обов’язково зазначаються і нормативно-правові акти!
					p <b>8.</b> Посилання на джерела оформляються по тексту у квадратних дужках із зазначенням номерів сторінок у відповідному джерелі в порядку згадування в тексті роботи або по алфавіту. Наприклад, [2, с. 24] або [1, с. 13; 8, с. 23].
					p <b>9.</b> Після списку літератури зазначається прізвище та ініціали наукового керівника/консультанта (курсивом, вирівнювання по правому краю).
					br
					br
					p Опубліковані матеріали виражають позицію автора, яка може не збігатися з думкою редакції журналу.
					br
					p Автори наукових робіт несуть відповідальність за оригінальність тексту роботи, точність наведених фактів, цитат, статистичних даних, власних назв, географічних назв та інших відомостей, а також за те, що в матеріалах не містяться дані, що не підлягають відкритій публікації.
					br
					p Остаточне рішення про публікацію ухвалюється редакцією, яка також залишає за собою право на додаткове рецензування, редагування і відхилення робіт.
				+e.content 
					+e.content-title Оформлення роботи.
					p <b>Пункт 1</b> – прізвище та ініціали автора роботи (вирівнювання по правому краю);

					p <b>Пункт 2</b> – клас/курс, назва навчального закладу (вирівнювання по правому краю);

					p <b>Пункт 3</b> – назва роботи (вирівнювання по центру, напівжирний шрифт, великі літери);

					p <b>Пункт 4</b> – текст роботи;

					p <b>Пункт 5</b> – список використаних джерел, якщо такі були;

					p <b>Пункт 6</b> – прізвище та ініціали наукового керівника/консультанта (курсив, вирівнювання по правому краю).

					p Петров П. П., студент 2 курсу ІПКОЮ НЮУ ім. Ярослава Мудрого


					+e.content-title Щодо питання вдосконалення системи кримінальних покарань
					
					p Останнім часом як науковці, так і практики для оцінки ефективності застосування чинної системи кримінальних покарань використовують такі епітети як «неефективна», «пострадянська», «перенасичена», а деякі науковці взагалі йменують сучасний стан системи кримінальних покарань не інакше, як «кризою покарання» [1, с. 554-555]. Не ставлячи під сумнів аргументи, які наводяться науковцями при обґрунтуванні своїх позицій з цього питання, ми вирішили дослідити, чим саме зумовлена така оцінка діючої системи покарань.

					p Перш за все, необхідно відзначити, що чинний Кримінальний кодекс України був прийнятий на 10-му році незалежності України, що може свідчити про десятирічний етап самостійного розвитку кримінального та суміжних галузей законодавства.

					<b>Список використаних джерел:</b>

					p 1. Ягунов Д. В. Глобалізація та «криза покарання»: трансформація пріоритетів пенологічної політики сучасних країн / Д. В. Ягунов. // Актуальні проблеми держави і права. – 2010. – С. 550–554.

					p Науковий керівник: Іванов І.І.

				+e.content 
					+e.content-title Реквізити для сплати публікаційного внеску:
					p Розмір внеску становить:

					p 100 грн. – автори отримують лише електронну версію журналу.

					p 120 грн. – автори отримують електронну та друковану версії журналу.

					p 50 грн. – вартість додаткового друкованого екземпляра журналу (при необхідності).

					p Зверніть увагу! Якщо один автор подає до друку в одному номері 2 чи більше робіт, на другу та кожну наступну роботу надається знижка 20 грн.

					p При сплаті внеску у відділеннях ЗАТ КБ «ПриватБанк» чи за допомогою Приват24 достатньо вказати номер рахунку 5168755110674955 та П.І.Б. одержувача: В’юник Марина Сергіївна.

					p Призначення платежу: П.І.Б. автора роботи.

					p При сплаті внеску у відділеннях інших банків чи за допомогою електронних систем переказу коштів необхідно вказати такі дані:

					p Банк одержувача: ЗАТ КБ «ПриватБанк»

					p МФО банка одержувача: 305299

					p КОД ОКПО банку: 14360570

					p Рахунок отримувача: 29244825509100

					p П.І.Б. одержувача: В’юник Марина Сергіївна.

					p Призначення платежу: П.І.Б. автора роботи.

					p Зверніть увагу!

					p При перевищенні вказаного обсягу роботи (до 3 сторінок), 4 та 5 сторінка оплачується додатково – 10 грн. за 1 сторінку. Роботи, що перевищують обсяг у 5 сторінок не приймаються редакцією.

				+e.content 
					+e.content-title Умови та порядок прийняття робіт:

					p Для допуску наукової роботи до публікації до редакції журналу на електронну пошту необхідно надіслати redactor.pravnyk@gmail.com:

					p заповнити на сайті журналу: www.pravnyk.kh.ua Інформаційну форму про автора роботи;
					p надіслати одним листом:
					p текст роботи, обов’язково оформлений відповідно до вказаних вимог;
					p відскановане (сфотографоване) підтвердження оплати публікаційного внеску
					p Зразок іменування електронних файлів: Петров П.П._робота, Петров П.П._внесок.

					p Редакція протягом 7 робочих днів після отримання роботи направляє автору на електронну пошту, зазначену в Інформаційній формі про автора наукової роботи, висновок про її прийняття до публікації або вказує зауваження, які необхідно усунути для публікації роботи.

					p Авторські примірники НПЮЖ «Правникъ» буде надіслано на електронні та поштові адреси авторів наукових робіт не пізніше 21 дня з дати закінчення набору робіт.

				+e.content 
					+e.content-title Примірник наукового журналу
					p Примірник наукового журналу (як електронна, так і друкована версії) буде проіндексований спеціальними бібліотечними показниками УДК та ББК, а також буде мати ідентифікаційний код ISSN.

					p Примірники журналу можна отримати: 
					//- заголовок
					ul
						li в редакції журналу: м. Харків, вул. Пушкінська, 77, каб. 222-П.
						li Укрпоштою або Новою поштою за рахунок одержувача.
