mixin authors-tabs()
	+b.authors-tabs
		+e.container
			+e.ASIDE.sidebar
				+e.header
					+e.header-caption НАПРЯМКИ, за якими здiйснюється набiр наукових робiт
					+e.header-caption ВИМОГИ щодо змicту та оформлення роботи
					+e.header-caption ВИМОГИ щодо оформлення заявки на участь
					+e.header-caption УМОВИ оплати за публікацію в журналі
					+e.header-caption УМОВИ та порядок прийняття робiт
					+e.header-caption ЗАСАДИ для автора
					+e.header-caption ПРИКЛАД оформлення статті
					+e.header-caption ЗАЯВКА (приклад)
				+e.sidebar-download
					+e.SVG.sidebar-download-icon
						use(xlink:href='../img/sprite.svg#download')
					a.btn(href="../files_for_download/docs.zip" download='docs') Завантажити
			+e.info
				+e.content
					+e.content-title Напрямки:
					table(style='width: 100%;')
						tr 
							td <b>Iсторичнi науки</b>
							td(style='text-align: right;') <b>07.00.00</b>
						tr 
							td <b>Економiчнi науки</b>
							td(style='text-align: right;') <b>08.00.00</b>
						tr 
							td <b>Фiлософськi науки</b>
							td(style='text-align: right;') <b>09.00.00</b>
						tr 
							td <b>Фiлологiчнi науки</b>
							td(style='text-align: right;') <b>10.00.00</b>
						tr 
							td <b>Педагогiчнi науки</b>
							td(style='text-align: right;') <b>13.00.00</b>
						tr 
							td <b>Психологiчнi науки</b>
							td(style='text-align: right;') <b>19.00.00</b>
						tr 
							td <b>Соцiологiчнi науки</b>
							td(style='text-align: right;') <b>22.00.00</b>
						tr 
							td <b>Полiтичнi науки</b>
							td(style='text-align: right;') <b>23.00.00</b>
						tr 
							td <b>Державне управління</b>
							td(style='text-align: right;') <b>25.00.00</b>
						tr 
							td <b>Культурологія</b>
							td(style='text-align: right;') <b>26.00.00</b>
						tr 
							td <b>Соціальні комунікації</b>
							td(style='text-align: right;') <b>27.00.00</b>
						tr 
							td <b>Юридичні науки:</b>
								p •	12.00.01 – теорія та історія держави і права; історія політичних і правових учень;
								p •	12.00.02 – конституційне право; муніципальне право
								p •	12.00.03 – цивільне право та цивільний процес; сімейне право; міжнародне приватне право; 
								p •	12.00.04 – господарське право; господарсько-процесуальне право;   
								p •	12.00.05 – трудове право; право соціального забезпечення;
								p •	12.00.06 – земельне право; аграрне право, екологічне право; природоресурсне право;
								p •	12.00.07 – адміністративне право і процес, фінансове право; інформаційне право
								p •	12.00.08 – кримінальне право та кримінологія; кримінально-виконавче право
								p •	12.00.09 – кримінальний процес та криміналістика; судова експертиза; оперативно-розшукова діяльність;
								p •	12.00.10 – судоустрій; прокуратура та адвокатура;
								p •	12.00.11 – міжнародне право.

				+e.content 
					+e.content-title Вимоги щодо змісту та оформлення роботи:
					table
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Формат статті
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") A4, орієнтація - книжкова, матеріали збережені та підготовлені у форматі Microsoft Word (*.doc або *.docx)
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Поля	всі сторони 
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") - 2 см
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Основний шрифт	
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Times New Roman
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Розмір шрифту основного тексту	
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") 14 пунктів
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Міжрядковий інтервал	
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") полуторний
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Вирівнювання тексту 
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") по ширині
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Автоматична розстановка переносів	
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") включена
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Абзацний відступ (новий рядок)	
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") 1,25 см
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Нумерація сторінок	
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") не ведеться
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Посилання на літературу
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") у квадратних дужках по тексту [1, с. 2], бібліографічний список в кінці тексту. Посторінкові виноски та посилання не допускаються
						tr
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") Обсяг	
							td(style="border: 1px solid black;padding:5px;line-height: 2rem;") від 5 до 20 сторінок включно
					br
					a.btn(href='../files_for_download/newsletter.pdf' download='ІНФОРМАЦІЙНИЙ ЛИСТ' style='display: block;margin: auto;max-width: 300px;') Скачати інформаційний лист
					br

					h4 <b>Вимоги до змісту статті</b>
					p(style="margin-left: 20px;") •	Статті мають містити такі необхідні елементи (з виділенням по тексту статті): - <b>постановка проблеми</b> у загальному вигляді та її зв'язок із важливими науковими чи практичними завданнями;
					br
					p(style="margin-left: 20px;") •	- <b>виклад основного матеріалу дослідження</b> з повним обґрунтуванням отриманих наукових результатів;
					br
					p(style="margin-left: 20px;") •	- <b>висновки з даного дослідження і перспективи</b> подальшого розвитку в цьому напрямку.
					br
					p(style="margin-left: 20px;") •	Автори, які подали матеріали для публікації, погоджуються з наступними положеннями: </br> - відповідальність за достовірність поданої інформації в своїй роботі несе автор. </br> - автори зберігають за собою всі авторські права і одночасно надають журналу право першої публікації, що дозволяє поширювати даний матеріал із зазначенням авторства та первинної публікації в даному журналі.
					br
					h4 <b>Структурні елементи наукової статті</b>
					p(style="margin-left: 20px;") •	індекс УДК (у верхньому лівому кутку сторінки);
					p(style="margin-left: 20px;") •	прізвище та ініціали автора (-ів), місце роботи (навчання), вчений ступінь, вчене звання, посада – двома мовами на вибір (українською або російською та англійською для індексу цитованості робіт в всесвітній мережі інтернет та науково-метричних базах Світу);
					p(style="margin-left: 20px;") •	назва статті - двома мовами (українською або російською та англійською);
					p(style="margin-left: 20px;") •	анотації (мінімум 3 речення) та ключові слова (мінімум 5 слів) - двома мовами (українською або російською та англійською);
					p(style="margin-left: 20px;") •	текст статті може бути українською, російською, англійською. 
					p(style="margin-left: 20px;") •	список літератури.
					p(style="margin-left: 20px;") •	JUNIOR - Після списку літератури зазначається прізвище та ініціали наукового керівника/консультанта (курсивом, вирівнювання по правому краю), а також прикріплюється скан-копія рецензії із завіренням підпису наукового керівника. 
					br
					br
					p <b>ОБОВ’ЯЗКОВО НАДАЄТЬСЯ ІМ’Я ТА ПРІЗВИЩЕ АВТОРА (-ІВ) АНГЛІЙСЬКОЮ МОВОЮ ВІДПОВІДНО ДО ЗАКОРДОННОГО ПАСПОРТУ АБО ІНШОГО ОФІЦІЙНОГО ДОКУМЕНТУ.</b>
					br
					p &#8195; Це обумовлено необхідністю вірного єдиного написання ім’я та прізвища автора (-ів) в усіх його публікаціях з метою коректного визначення індексу цитування.
					br
					br
					p <b>ВИМОГИ ЩОДО ОФОРМЛЕННЯ ЛІТЕРАТУРИ</b>
					br
					p •	Список використаних джерел подається наприкінці роботи і відповідно до стандартів бібліографічного опису, включаючи нормативно-правові акти.
					br
					p •	Посилання на джерела необхідно робити у тексті в квадратних дужках із зазначенням номерів сторінок відповідно джерела. Наприклад, [1, с. 12]. Список використаних джерел подається наприкінці статті в порядку згадування джерел <b>відповідно</b> до стандартів бібліографічного опису (див.: стандарт «Бібліографічний запис. Бібліографічний опис» (ДСТУ 7.1:2006 та Форма 23, затверджена наказом ВАК України від 29 травня 2007 року № 342);
					br
					p •	 В тексті роботи не повинно бути переносу слів та макросів. Малюнки, схеми, таблиці тощо розміщуються на окремій, останній сторінці, а не в тексті роботи.

				+e.content 
					+e.content-title Вимоги щодо оформлення заявки на участь
					a.btn(href='../files_for_download/application.docx' download='ЗАЯВКА НА ПУБЛІКАЦІЮ РОБОТИ') Скачати заявку
					br
					br
					p <b>ІНША ОБОВ’ЯЗКОВА ІНФОРМАЦІЯ</b>
					br
					p &#8195; Стаття <b>має містити контактну інформацію</b> авторів однією мовою: телефони (ніде не публікується) та e-mail (ніде не публікується) для можливості оперативного вирішення питань, які виникають. Адреси електронної пошти мають бути реальними (оскільки саме за цією адресою автор буде відомий серед науковців всього світу, зможе отримувати запрошення до участі в конференціях та інших наукових заходах тощо).
					br
					p &#8195; При наявності у статті двох та більше авторів, <b>одного з них має бути вказано як контактну особу</b>. Саме за його адресою електронної пошти редакція буде вести подальшу переписку (надсилати зауваження тощо).
					br
					p &#8195; Для авторів, які мешкають <b>за межами м. Харкова</b>, контактна інформація також <b>має містити повну поштову адресу або № відділення Нової Пошти однією мовою для відправки авторського примірника журналу.</b>
					br
					p &#8195; Практика розсилки свідчить, що журнали, відправлені за робочою адресою (на кафедру, відділ і т. п.), не завжди доходять саме до автора (-ів) статті. Тому редакція наполегливо рекомендує <b>вказувати особисту адресу</b>.

				+e.content 
					+e.content-title Умови оплати за публікацію в журналі
					br
					p <b>1.	Оплата за публікацію в науково-практичному журналі «Світ науки та освіти» (The World of Science and Education)</b> - розрахований на наукових та освітніх працівників, викладачів, вчителів та аспірантів та практикуючих фахівців.
					br
					h4 <b>Умови оплати</b>
					table.authors-tabs__table-pay
						tr
							td
							td UAH
						tr
							td Публікація статті до 10 сторінок
							td 250,00
						tr
							td Кожна наступна сторінка
							td +20,00
						tr
							td Доступ до електронної (pdf) версії журналу
							td 0
						tr
							td Сертифікат в електронному (pdf) форматі, що підтверджує розміщення статті
							td 70,00
						tr
							td Друкований екземпляр сертифікату, що підтверджує розміщення статті
							td 100,00
						tr
							td Друкований екземпляр журналу
							td 150,00
					br
					p <b>Знижки.</b> Для авторів, що публікуються повторно, передбачена знижка 10%. (Для отримання знижки необхідно, при подачі статті в примітках, вказати, що автор публікується повторно із посиланням на номер і сторінку публікації).
					
					p 2.	Оплата за публікацію в науково-практичному журналі «Світ науки та освіти» (The World of Science and Education) JUNIOR – розрахований на студентів та учнів 9-11 класів навчальних закладів I-III рівня акредитації.

					h4 <b>Умови оплати</b>

					table.authors-tabs__table-pay
						tr
							td
							td UAH
						tr
							td Публікація статті до 5 сторінок
							td 150,00
						tr
							td Кожна наступна сторінка
							td +20,00
						tr
							td Доступ до електронної (pdf) версії журналу
							td 0
						tr
							td Сертифікат в електронному (pdf) форматі, що підтверджує розміщення статті
							td 70,00
						tr
							td Друкований екземпляр сертифікату, що підтверджує розміщення статті
							td 100,00
						tr
							td Друкований екземпляр журналу
							td 150,00
					br
					h4 <b>Способи оплати:</b>
					br
					p <b>1. Банкіський переказ.</b>
					p <b>2. Платіжні картки:</b>
						img(src='https://dilerterm.ru/sites/dilerterm.ru/files/field/image/kartochki.jpg' style='display: block; width: 150px; margin: 5px 0;')
					br
					p <i>При оплаті замовлення банківською картою введення реквізитів картки відбувається в системі електронних платежів ПАТ КБ "ПриватБанк", який пройшов сертифікацію в платіжних системах Visa і MasterCard. Представлені Вами дані повністю захищені і ніхто, включаючи редакцію журналу, не може їх отримати.</i>
					br
					p &#8195;Редакційний збір покриває витрати, пов’язані з редагуванням статей, макетуванням та оформленням журналу.
					br 
					p <b>Реквізити для сплати оргвнеску:</b> картковий рахунок: 5169 3305 0708 2482  ПАО КБ «Приватбанк» для розрахунку через ПРИВАТБАНК
					br
					p Поточний рахунок: <b>26000052213488</b>для розрахунку через інші банківські системи </br> <b>Отримувач:</b> Нанарова Ольга Олександрівна
					br
					p <b>При сплаті внеску у відділеннях ПАТ КБ «ПриватБанк» чи за допомогою Приват24</b> достатньо вказати картковий рахунок: <b>5169 3305 0708 2482</b>  та П.І.Б. одержувача: Нанарова Ольга Олександрівна.
					br
					p <b>Призначення платежу:</b> оплата за публікацію П.І.Б. автора роботи.
					br
					p <b>При сплаті внеску у відділеннях інших банків чи за допомогою електронних систем переказу коштів</b> необхідно вказати такі дані:
					br
					p Банк одержувача: ЗАТ КБ «ПриватБанк»
					br
					p МФО банка одержувача: 305299
					br
					p КОД ОКПО банку: 14360570
					br
					p Рахунок отримувача: 5169 3305 0708 2482 
					br
					p П.І.Б. одержувача: Нанарова Ольга Олександрівна
					br
					p <b>Призначення платежу:</b> оплата за публікацію П.І.Б. автора роботи.
					br
					p &#8195;<b>Авторам з інших держав</b> необхідно оплатити редакційний збір за допомогою міжнародної системи грошових переказів – Western Union. Оплату необхідно здійснити на Нанарову Ольгу Олександрівну (Відп. секретаря журналу).
					br
					h4 <b>ЗРАЗОК</b>
					+e.IMG.certificate(src="img/authors-tabs__certificate.jpg")

				+e.content 
					+e.content-title Умови та порядок прийняття робіт
					br
					h4 Умови публікації статей
					br
					p 1. Ви заповнюєте <u><b>заявку на публікацію роботи</b></u> та <u><b>фото</b></u> автора у форматі Jpg;
					p 2. Надсилайте нам <u><b>статтю та квитанцію</u> про сплату вартості публікації статті</b>. Обов'язково в темі листа вкажіть <b>розділ журналу</b>, в якому ви бажаєте опублікувати статтю. Адреса електронної пошти редакції — wse@nlu.edu.ua 
					p 3. Редакція рецензує вашу статтю протягом 7-10 днів.
					p 4. Якщо стаття успішно пройшла рецензування, ми відправляємо вам лист з інформацією:
					<b>«Стаття пройшла рецензування, прийнята до публікації»</b>.
					p 5. Як тільки електронна версія журналу розміщується на сайті, ми повідомляємо вам про це. Потім, після виходу журналу з друку, ми відправляємо вам друкований примірник.
					br
					p <b>ПІДСТАВИ ДЛЯ ВІДМОВИ В РОЗГЛЯДІ СТАТТІ</b>
					br
					p 1. Відсутність або неповнота будь-якої складової даних про автора (українською або російською та англійською мовою).
					br
					p 2. Відсутність контактної інформації.
					br
					p 3. Відсутність або неповнота поштової адреси чи нової пошти (<b>тільки для авторів, які мешкають за межами м. Харкова</b>).
					br
					p 4. Відсутність рецензії (рекомендації, відгуку) наукового керівника, засвідчені підписом та печаткою (<b>тільки для авторів, які не мають наукового ступеня</b>).
					br
					p 5. Відсутність УДК (для осіб, які мають науковий ступінь).
					br
					p 6. Відсутність списку використаних джерел.
					br
					p 7. Недостатній обсяг статті (менше 5 сторінок).
					p 8. Стаття вже була опублікована в іншому виданні (включаючи електронні видання та мережу Інтернет).
					br
					p 9. Виявлення у статті плагіату.
					br
					p 10. Порушення правил цитування.
					br
					br
					p &#8195;<b>Додаткова інформація:</b> Стаття, подана до редакції без дотримання вимог, наведених у пунктах 1–10, опублікуванню не підлягає. Гонорар за публікацію не повертається. Редакція залишає за собою право на рецензування, редагування, скорочення і відхилення статей. За зміст та достовірність наданої інформації відповідальність несе автор. Передрук опублікованих матеріалів журналу здійснюється тільки з дозволу автора і редакції.

				+e.content 
					+e.content-title Засади, якими повинен керуватися автор наукових публікацій
					p Автор (або колектив авторів) усвідомлює, що несе первісну відповідальність за новизну і достовірність результатів наукового дослідження, що передбачає дотримання таких принципів:
					br
					br
					p(style="margin-left:20px;") •	автори статті повинні надавати достовірні результати проведених досліджень. Завідомо помилкові або сфальсифіковані затвердження неприйнятні.
					br
					p(style="margin-left:20px;") •	автори повинні гарантувати, що результати дослідження, викладені в наданій рукописи, повністю оригінальні. Запозичені фрагменти або твердження повинні бути оформлені з обов'язковим зазначенням автора і першоджерела. Надмірні запозичення, а також плагіат в будь-яких формах, включаючи неоформлені цитати, перефразування або присвоєння прав на результати чужих досліджень, неетичні і неприйнятні.
					br
					p(style="margin-left:20px;") •	автори не повинні надавати в журнал рукопис, яка була відправлена в інший журнал і знаходиться на розгляді, а також статтю, вже опубліковану в іншому журналі.
					br
					p(style="margin-left:20px;") •	якщо автор виявить істотні помилки або неточності в статті на етапі її розгляду або після її опублікування, він повинен якнайшвидше повідомити про це редакцію журналу.

				+e.content
					<p style="text-align: center; text-align: center;"><b>ЦИВІЛЬНЕ ПРАВО І ЦИВІЛЬНИЙ ПРОЦЕС</b></p>
					</br>
					<p><b>ФОТО</b></p>
					</br>
					<p style="text-align: center; text-align: center;"><b>Петрова Вікторія Валентинівна </b></p>
					</br>
					<p style="text-align: center; text-align: center;"><em>доктор юридичних наук, професор, </br> доцент кафедри цивільного процесу, </br> Національний юридичний університет </br> імені Ярослава Мудрого,  Україна, м. Харків </em></p>
					</br>
					<p style="text-align: center; text-align: center;"><b>Petrova Vіktorіya Valentinivna </b></p>
					</br>
					<p style="text-align: center; text-align: center;"> <em>Doctor of Legal Sciences, Professor, </br> Head of Civil Procedure Department, </br> Yaroslav Mudryi National Law University, </br>Ukraine, Kharkiv </em></p>
					<p style="margin-right: 7pt; margin-left: 0cm; text-align: justify;">УДК 661.65</p>
					</br>
					<p style="text-align: center; text-align: center;"><b>ПИТАННЯ ЩОДО ЕФЕКТИВНОСТІ ДЕЯКИХ ПОЛОЖЕНЬ ЗАКОНОПРОЕКТУ ЕКОНОМІЧНОГО ПРОЦЕСУАЛЬНОГО КОДЕКСУ УКРАЇНИ </b>
					</p>
					</br>
					<p style="text-align: center; text-align: center;"><b>QUESTION OF CERTAIN PROVISIONS EFFICIENCY OF THE DRAFT OF THE ECONOMIC PROCEDURE CODE OF UKRAINE </b>
					</p>
					</br>
					<p style="text-align: justify;">&#8195; Стаття присвячена аналізу проекту Економічного процесуального кодексу України, який оприлюднена для обговорення на сайті Ради (Рада) з питань судової реформи, яка є консультативно-дорадчим органом Президента України. Наукова стаття представляє авторську вказує на доцільність запровадження деяких інститутів комерційного процесуального права.
					</p>
					</br>
					<p style="text-align: justify;">&#8195;<em>The article is devoted to the analysis of the Draft of the Economic Procedure Code of Ukraine which is published for discussion on the Council (Rada) Internet-site on the questions of judicial reform which is consultative and advisory body to the President of Ukraine. The scientific article presents the author’s points as for expediency of introducing some institutions of commercial procedure law. </em>
					</p>
					</br>
					<p style="text-align: justify;">&#8195;Ключові слова: проект Економічного процесуального кодексу України; юрисдикція; докази та докази; ефективність процедурного права; апеляції до судових рішень; господарсько-процесуальне законодавство.
					</p>
					</br>
					<p style="text-align: justify;">&#8195; <b>Keywords: </b><em>Draft of the Economic Procedure Code of Ukraine; jurisdiction; evidence and proof; effectiveness of procedure law; appeals against court decisions; economic procedure legislation. </em>
					</p>
					</br>
					<p style="text-align: justify; margin-left: 20px;"><b>Вступ.</b>
					</p>
					<p style="text-align: justify; margin-left: 20px;"><b>Основний ТЕКСТ роботи.</b>
					</p>
					<p style="text-align: justify; margin-left: 20px;"><b>Висновок. </b>
					</p>
					<p style="text-align: justify; margin-left: 20px;"><b>Список використаних джерел </b>
					</p>
					</br>
					<p style="margin: 7pt; text-align: justify;">1. Авраменко С. І. Стратегія конкурентоспроможності економіки України на основі інтеграційних систем – кластерів / С. І. Авраменко. – Київ: Видавництво ТОВ «Право», 2016. – 13 с.
					</p>
					<p style="margin: 7pt; text-align: justify;">...
					</p>
					<p style="margin: 7pt; text-align: justify;">12. Стратегічні виклики ХХІ століття суспільству та економіці України: В 3 т. / За ред. В. М. Гейця, В. П. Семіноженка, Б. Є. Кваснюка, Т. 3. – К.: Фенікс, 2007. – 556 с.
					</p>
					<p style="margin: 7pt; text-align: justify;"><em><span style="text-decoration: underline">Наданий матеріал раніше не публікувався та в інші видання не надсилався. </span></em>
					</p>
					<p style="margin: 7pt; text-align: justify;"><b>Кінець прикладу.</b>
					</p>
				
				+e.content 
					+e.content-title Заявка на публікацію роботи
					br
					p 1.	П.І.Б. автора роботи
					br
					p 2.	Місце роботи (навчання), науковий ступінь, вчене звання, посада
					br
					p 3.	Секція
					br
					p 4.	Назва роботи (українською або російською та англійською)
					br
					p 5.	Електронна адреса автора (дійсна)
					br
					p 6.	Мобільний номер телефона автора
					br
					p 7.	Яку версію журналу бажаєте отримати? (друковану або електронну)
					br
					p 8.	Чи необхідний Вам сертифікат? (якщо так – друкований або pdf версія)
					br
					p 9.	Яким чином хочете отримати журнал? (поштовим відправленням або Новою поштою)
					br
					p 10.	Адреса на яку Вам буде надіслано номер журналу (індекс, область, район області, населений пункт, назва вулиці, будинок, квартира (<i><u>для відправлення Укрпоштою</u></i>) або область, район області, населений пункт № відділення Нової пошти (<i><u>для відправлення Новою Поштою</u></i>)
					br
					p 11.	Відомості про наукового керівника: (ПІБ, науковий ступінь, вчене звання, посада) <u>заповнюється у разі відсутності наукового ступеня</u>

				
