include ../../assets/bemto/bemto.pug
include ../connect/_blocks.pug

doctype
html(lang="ru")
	include ../template/head.pug
	body
    
		block content
		block modal
			+modal('form-contact','--contact', 'Форма зворотнього зв`язку')
				input.modal__input(type='text' name='userName', placeholder='Iм`я')
				input.modal__input(type='text' name='userLastName', placeholder='Прiзвище')
				input.modal__input(type='text' name='userLastMail', placeholder='E-mail')
				input.modal__input(type='text' name='theme', placeholder='Тема')
				textarea.modal__textarea(placeholder='Повiдомлення', name='message')
				button.btn.modal__btn Надiслати

			+modal('form-dispatch', '--dispatch', 'Підписатися на розсилку')
				input.modal__input(type='text' name='userName', placeholder='Iм`я')
				input.modal__input(type='text' name='userLastMail', placeholder='E-mail')
				button.btn.modal__btn Підписатися
    	

		block scripts
			include ../template/scripts.pug